.quickGame label {
    display: inline-block;
    max-width: 400px;
    margin-top: 40px;
}

.quickGame input {
    display: block;
    max-width: 400px;

}

.quickGame select {
    width: 300px;
    padding: 12px;
}

.quickGame .column {
    display: inline-block;
    height: 400px;
    width: 500px;
    margin: 10px;
    padding: 10px;

    vertical-align: top;

    border: 1px solid rgb(121, 121, 121);
    background-color:rgba(47, 45, 56, 0);
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}

.quickGame .column .title {
    font-size: 20px;
    font-weight: 600;
}

.quickGame .column.left button {
    height: 70px;
    width: 300px;
    margin-top: 146px;
}

.quickGame .verticalSeperator {
    vertical-align: top;

    display: none;
    height: 500px;
    width: 2px;
    background-color: rgb(168, 168, 168);
    margin: 20px;
}

.quickGame .column.right .title {
    text-align: center;
    margin-bottom: 16px;
}

.quickGame .column.right button {
    height: 70px;
    width: 300px;

    margin-top: 40px;
}

@media screen and (max-width: 850px) {

    .quickGame .column.left {
        height: auto;
    }

    .quickGame .column.left button {
        margin-top: 10px;
    }

    .quickGame .column.right .title {
        margin-bottom: 10px;
    }
    .quickGame .column.right {
        height: auto;
    }
}